
.button--default{
  background: $gray;
  &:hover, &.active, &:focus{
    background: #e4ded2;
  }
}

.btn{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

.button--lg{
  line-height: 46px ;
  padding: 0 20px;
}

.button--block{
  width: 100%;
}

.btn-primary{
  background: $blue;
  border-color: $blue;
}