header{
  padding: 15px 0;
  .di-table{
    @extend %clearfix;
    display: table;
    width: 100%;
    .di-table-cell{
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
    }
  }
  .navbar{
    clear: both;
  }
  background: #f9f9f9;

  .btn-cart{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
  }
  .search-box{
    line-height: 40px;
    height: 40px;
    border:1px solid #d6d6d6;
    position: relative;
    background: #ffffff;
    input{
      width: 100%;
      border:none;
      background: transparent;
      padding: 0 10px 0 40px;
    }
    button{
      position: absolute;
      top: -2px;
      left: 0;
      width: 40px;
      height: 38px;
      text-align: center;
      background: transparent;
      border:none;
      font-size: 18px;
      color: $gray;
    }
  }
  @media screen and (max-width: 767px){
    padding: 0;
    .btn-cart{
      padding-left: 6px;
      padding-right: 6px;
      span{
        display: none;
      }
    }
    .search-box{
      width: 40px;
      overflow: hidden;
      input{
        width: 200px;
        float: right;
        padding: 0 40px 0 10px;
        background: #ffffff;
      }
    }
  }
}


